<div class="code-block">
  <div class="code-block__toolbar">
    <div class="code-block__tabs" role="tablist">
      @for (tab of tabs; track tab.id) {
        <button
          type="button"
          role="tab"
          class="code-block__tab"
          [class.code-block__tab--active]="activeTab() === tab.id"
          [attr.aria-selected]="activeTab() === tab.id"
          (click)="selectTab(tab.id)"
        >
          {{ tab.label }}
        </button>
      }
    </div>
    @if (!isEmpty()) {
      <button type="button" class="code-block__copy" (click)="onCopy()">{{ copyLabel() }}</button>
    }
  </div>
  @if (isEmpty()) {
    <p class="code-block__empty">{{ emptyMessage() }}</p>
  } @else {
    <gog-scroll class="code-block__scroll" size="thin" ariaLabel="Code sample">
      <pre><code class="hljs" [innerHTML]="activeHighlighted()"></code></pre>
    </gog-scroll>
  }
</div>
