.example {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}
.row__label {
  width: 90px;
  color: var(--gog-muted-text-color);
  font-size: var(--gog-text-sm);
}
