.fw-black {
  font-weight: 900;
}

.font-heading {
  font-family: var(--gog-font-heading), serif;
}

.font-body {
  font-family: var(--gog-font-body), sans-serif;
}

.font-mono {
  font-family: var(--gog-font-mono), monospace;
}
